* @Gimir @denys-kolomiitsev @Alexander-Kezik @IlyaBondar @Derikyan
/.github/ @nepalevov @alexey-ban @IlyaBondar
/apps/chat-e2e/ @irinakartun @macnartov
/apps/overlay-sandbox-e2e/ @irinakartun @macnartov
