# Chatbot UI
DEFAULT_MODEL=gpt-3.5-turbo
NEXT_PUBLIC_DEFAULT_SYSTEM_PROMPT=You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown.
OPENAI_API_KEY=YOUR_KEY

# Google
GOOGLE_API_KEY=YOUR_API_KEY
GOOGLE_CSE_ID=YOUR_ENGINE_ID

# Azure AD
AUTH_CLIENT_ID=
AUTH_TENANT_ID=
AUTH_CLIENT_SECRET=

# Disabling import, models,...
NEXT_PUBLIC_SHOW_MODELS=true
NEXT_PUBLIC_SHOW_IMPORT=true
NEXT_PUBLIC_DISABLE_PLUGIN_KEYS=true