**/.git
**/.svn
**/.hg
**/node_modules

.next
next.config.js
next-i18next.config.js
public

dist

.github
helm
apps/chat-e2e/html-report
apps/chat-e2e/chat-html-report
apps/chat-e2e/overlay-html-report
