# Server Configuration
PORT=3005
API_PREFIX=api
CORS_ORIGIN=http://localhost:4207

# DIAL Configuration
DIAL_CORE_URL=your-dial-core-url
DIAL_API_KEY=your-dial-api-key

# Themes
THEMES_CONFIG_URL=your-themes-config-url
