name: Deploy dev trigger

on:
  registry_package:

jobs:
  gitlab-dev-deploy:
    if: ${{ github.event.registry_package.package_version.container_metadata.tag.name == 'development' }}
    uses: epam/ai-dial-ci/.github/workflows/deploy-development.yml@1.0.1
    with:
      gitlab-project-id: '1827'
      gitlab-project-ref: 'master'
    secrets:
      DEPLOY_HOST: ${{ secrets.DEPLOY_HOST }}
      DEPLOY_ACCESS_TOKEN: ${{ secrets.DEPLOY_ACCESS_TOKEN }}
      DEPLOY_TRIGGER_TOKEN: ${{ secrets.DEPLOY_TRIGGER_TOKEN }}